<!--
  Generated template for the GroupAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <top-left-toolbar>
    <ion-title>Grupos</ion-title>
  </top-left-toolbar>
</ion-header>


<ion-content >
  <form (ngSubmit)="addGroup()">
    <ion-item>
      <ion-label color="primary" stacked>Nome do grupo de exercícios</ion-label>
      <ion-input name="name" type="text" placeholder=""></ion-input>
    </ion-item>

    <ion-item>
      <button ion-button color="primary" type="submit">ADICIONAR GRUPO</button>
    </ion-item>
  </form>
</ion-content>
