<ion-header>
  <top-left-toolbar>
    <ion-title>
      Autorização
    </ion-title>
  </top-left-toolbar>
</ion-header>


<ion-content padding>
  <div *ngIf="profileUpdated;then waiting else fill"></div>

  <ng-template #waiting>
    <h2>Desculpe, você ainda não foi autorizado.</h2>
    <ion-item>
        <button ion-button color="primary" (click)="backToLogin()">VOLTAR PARA O LOGIN</button>
    </ion-item>
  </ng-template>

  <ng-template #fill>
    <form (submit)="updateProfile()" >

      <ion-item>
          <ion-label color="primary" stacked>CPF</ion-label>
          <ion-input name="social_number" type="text" placeholder="Insira seu cpf" min="11" max="11" required="true" [(ngModel)]="data.social_number"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label color="primary" stacked>Data de nascimento</ion-label>
          <ion-datetime name="birth_date" placeholder="00/00/0000" displayFormat="DD/MM/YYYY" min="1920-01-01" max="2018-01-01" [(ngModel)]="data.birth_date" required="true"></ion-datetime>
      </ion-item>
      <ion-item>
          <ion-label color="primary" stacked>Altura</ion-label>
          <ion-input name="height" type="text" placeholder="Insira sua altura" [(ngModel)]="data.height" required="true"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label color="primary" stacked>Peso</ion-label>
          <ion-input name="weight" type="text" placeholder="Insira seu peso" [(ngModel)]="data.weight" required="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Qual o seu condomínio?</ion-label>
        <ion-select name="selectCondo" ([ngModel])="data.condo.name" (ionChange)="onSelectChange($event)" cancelText="Cancelar" okText="Selecionar" >
          <ion-option *ngFor="let condo of condos" [value]="condo.name">{{condo.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Bloco/Torre ou similar</ion-label>
        <ion-input name="building" type="text" placeholder="Insira sua torre/bloco ou similar" [(ngModel)]="data.building" ></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Apartamento</ion-label>
        <ion-input name="apartment" type="text" placeholder="Insira seu apartamento" [(ngModel)]="data.apartment" ></ion-input>
    </ion-item>

      <div>
        <p>Ao clicar em "SOLICITAR ACESSO", será enviado uma requisição ao seu síndico para liberação.</p>
        <p>Somente após a autorização você poderá utilizar todos os recursos do aplicativo.</p>

        <ion-item>
          <ion-label>Eu concordo e estou ciente.</ion-label>
          <ion-checkbox name="agreement" [(ngModel)]="hasAgreed"></ion-checkbox>
        </ion-item>
      </div>

      <ion-item>
          <button ion-button color="primary" type="submit" [disabled]="!hasAgreed">SOLICITAR ACESSO</button>
      </ion-item>
    </form>
  </ng-template>


</ion-content>
