page-login {

  ion-content.content {
    background: #f6f6f8;
  }

  .scroll-content {
    overflow: hidden !important;
  }

  ion-icon.user {
    display: flex;
    font-size: 2em;
    align-items: flex-end;
    position: relative;
    top: 40px;
    width: 10%;
    left: 0px;
  }

  ion-icon {
    display: flex;
    font-size: 2em;
    align-items: flex-end;
    position: relative;
    top: 40px;
    width: 10%;
    left: 0px;
    z-index: 1;
  }

  img {
    max-width: 50%;
    border: 20px solid rgba(0, 0, 0, 0.02);
    border-radius: 100%;
    margin: 20px 0px;
  }

  .item-md.item-input.item-input-has-focus .item-inner,
  .item-md.item-input.input-has-focus .item-inner,
  .item-ios.item-input.item-input-has-focus .item-inner,
  .item-ios.item-input.input-has-focus .item-inner {
    border-bottom: none;
  }

  .list-md .item-input.item-input-has-focus:last-child,
  .list-md .item-input.input-has-focus:last-child,
  .list-ios .item-input.item-input-has-focus:last-child,
  .list-ios .item-input.input-has-focus:last-child {
    border-bottom: none;
  }

  .list-md .item-block .item-inner, .list-ios .item-block .item-inner {
    border: none !important;
    padding-right: 0;
    box-shadow: none !important;
  }
  .list-md .item-input:last-child {
    border: none !important;
    box-shadow: none !important;
  }

  .label-md[stacked], .label-md[floating],
  .label-ios[stacked], .label-ios[floating] {
    margin-left: 5px;
    margin-bottom: 3px;
    transition: 0.2s all ease-out;
    font-family: 'Quicksand';
    font-size: 14px;
  }

  .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating], .item-input-has-value .label-md[floating], .input-has-value .label-md[floating] {
    margin-left: 0;
    transition: 0.2s all ease-out;
  }

  .item-label-stacked .text-input-md, .item-label-floating .text-input-md,
  .item-label-stacked .text-input-ios, .item-label-floating .text-input-ios {
    margin-left: 15px !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    height: 100% !important;
    margin-right: 10px !important;
    width: calc(100% - 15px) !important;
  }

  .list-ios > .item-block:first-child {
    border: none;
  }

  ion-input {
    height: 50px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 8px;
  }

  ion-list.list-md {
    margin-top: -25px;
  }

  ion-item.item-md, ion-item.item-ios {
    padding: 0px;
    background-color: transparent;
    color: #282828;
    border-radius: 2px;
    margin-top: 0px;
  }

  ion-col.col {
    justify-content: center;
    display: flex;
  }

  h1 {
    color: #282828;
    text-transform: uppercase;
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 18px;
    margin: 0 !important;
  }

  .text-input {
    font-family: 'Quicksand Book';
  }

  .text-input-md, .text-input-ios {
    margin: 0px 40px;
    width: calc(100% - 8px - 8px);
  }

  .titulo {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .button-md, .button-ios {
    border-radius: 25px;
    border: 2px solid #A8C038;
    color: #A8C038;
    height: 45px;
    margin-top: 30px;
    text-transform: uppercase;
  }

  .button-inner {
    font-family: 'Quicksand Bold';
  }

  p {
    position: relative;
    color: #282828;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Quicksand';
  }

  @media only screen and (max-width: 320px) {
    p {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: -20px;
      color: white;
      font-size: 13px;
      font-weight: 500;
      font-family: 'Quicksand Bold';
    }
  }

  a > span {
    color: #A8C038;
    margin-left: 3px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    left: 0;
    height: 55px;

    > div {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      border-top: 1px solid rgba(0, 0, 0, 0.15);
      margin: 0 25px;
    }
  }

  @media only screen and (max-height: 500px) {
    .footer {
      display: none;
    }
  }
}
