<ion-content padding>
  <div style="text-align: center;">
    <img src="assets/imgs/logo-icon.png" class="logo" />
  </div>

  <ion-grid class="titulo">
    <ion-row>
      <ion-col>
        <h1>Bem vindos</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="text" value="" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

  </ion-list>

  <button ion-button block color="light" outline (click)="logIn()">entrar</button>

  <div class="footer">
    <div>
      <p>Ainda não possui conta?
        <a (click)="signup()">
          <span>REGISTRAR-SE</span>
        </a>
      </p>
    </div>
  </div>

</ion-content>
