<!--
  Generated template for the PromotionAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <top-left-toolbar>
    <ion-title>Promoções</ion-title>
  </top-left-toolbar>

</ion-header>


<ion-content padding>
  <form (submit)="addPromotion()">
    <ion-item>

        <upload-form name="imageUrl">Upload</upload-form>
      </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Título da promoção</ion-label>
        <ion-input name="title" type="text" placeholder="" [(ngModel)]="data.title"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Descrição</ion-label>
        <ion-input name="description" type="text" placeholder="" [(ngModel)]="data.description"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Texto</ion-label>
        <ion-textarea name="promotion_text"  type="text" placeholder="" [(ngModel)]="data.promotion_text"></ion-textarea>
    </ion-item>
    
    <ion-item>
        <ion-label color="primary" stacked>Data de inicio</ion-label>
        <ion-datetime name="start_date" displayFormat="DD/MM/YYYY" min="{{today}}" max="2030-12-31" [(ngModel)]="data.start_date"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Data final</ion-label>
        <ion-datetime name="end_date"  displayFormat="DD/MM/YYYY" min="{{today}}" max="2030-12-31" [(ngModel)]="data.end_date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Parceiro</ion-label>
      <ion-select name="selectPartner" ([ngModel])="data.partner" (ionChange)="onSelectPartnerChange($event)"
        cancelText="Cancelar" okText="Continuar">
        <ion-option *ngFor="let partner of partners" [value]="partner.id">{{partner.fantasy_name}}</ion-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label>Publicar?</ion-label>
      <ion-checkbox name="isActive" [(ngModel)]="isActive"></ion-checkbox>
    </ion-item>

    <ion-item>
        <button ion-button color="primary" type="submit">ADICIONAR PROMOÇÃO</button>
    </ion-item>
  </form>
</ion-content>
