page-activity {
  ion-content.content {
    background: #f1f1f1;
  }

  ion-content > .scroll-content {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
  }

  ion-card.card-md,
  ion-card.card-ios  {
    background: #f7f9fc;
    border-radius: 10px;
    box-shadow: none;
  }

  ion-card-title {
    color: #a8c038 !important;
    text-transform: uppercase;
    font-size: 1.8rem !important;
    padding: 0 !important;
    font-family: 'Quicksand Bold'
  }

  ion-card-content {
    text-align: center;
    height: 100%;
    > p {
      color: #282828 !important;
      font-family: 'Quicksand Book'
    }
    > img {
      padding: 5px;
      width: 70%;
      margin: 0 15%;
    }
  }

  .button-inner-switch {
    color: white;
  }

  .btn {
    text-align: center !important;
  }

  .toolbar-content-md, .toolbar-content-ios {
    display: inline-flex !important;
  }

  .toolbar-title-md, .toolbar-title-ios {
    padding: 0;
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
    font-family: 'Quicksand Book Oblique';
  }

  .toolbar-title-ios{
    padding-top: 20px !important;
  }

  h1 {
    font-weight: 900;
    font-size: 30px;
    font-family: 'Quicksand';
    text-align: left;
    padding-left: 10px;
  }

  .btn-new {
    margin-top: 2rem;
    background: transparent !important;
    box-shadow: none;
    color: #A8C038 !important;
  }

  .button-md, .button-ios {
    background-image: linear-gradient(to right bottom, #a8c038, #94bd40, #81b949, #6eb551, #5bb059);
    width: 100%;
    color: #fff;
    font-family: 'Quicksand';
    border-radius: 25px;
  }

  .button-md.activated, .button-ios.activated {
    background-color: transparent;
    box-shadow: none;
  }

  .button-md:hover:not(.disable-hover), .button-ios:hover:not(.disable-hover) {
    background-color: transparent
  }
}
