<ion-header>
  <top-left-toolbar>
    <ion-title>
      Atividades
    </ion-title>
  </top-left-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <h1>{{condo}}</h1>
    </ion-col>
    <ion-col *ngIf="(role === 'master')">
      <ion-buttons class="add" start >
        <button ion-button icon-only color="green" (click)="create()">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-buttons>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-6 *ngFor="let activity of activities">

      <ion-card ngClass="card-activity">
        <ion-card-content (click)="showDetails(activity)">
          <img src="{{activity.image.url}}" />
          <ion-card-title>
            {{activity.title}}
          </ion-card-title>
          <p>
            {{activity.description}}
          </p>
        </ion-card-content>

        <ion-row class="btn" >
          <ion-col *ngIf="!(role === 'instrutor' || role === 'sindico' || role=== 'usuario')">
            <button ion-button color="primary" clear small icon-start (click)="editActivity(activity)">
              <ion-icon name='create'></ion-icon>
              EDITAR
            </button>
          </ion-col>

          <ion-col *ngIf="!(role === 'instrutor' || role === 'sindico' || role=== 'usuario')">
            <button ion-button color="primary" clear small icon-start (click)="removeActivity(activity)">
              <ion-icon name='trash'></ion-icon>
              REMOVER
            </button>
          </ion-col>

          <ion-col *ngIf="(role === 'sindico')">
            <button ion-button color="primary" clear small icon-start (click)="checkAttend(activity)">
              FREQUÊNCIAS
            </button>
          </ion-col>

          <ion-col col-6 *ngIf="(role === 'usuario' || role === 'sindico')">
            <button ion-button color="primary" clear small icon-start (click)="subscribeActivity(activity)">
              PARTICIPAR
            </button>
          </ion-col>

          <ion-col col-6 *ngIf="(role === 'usuario' || role === 'sindico')">
            <button ion-button color="primary" clear small icon-start (click)="unsubscribeActivity(activity)">
              SAIR
            </button>
          </ion-col>
        </ion-row>
      </ion-card>

    </ion-col>
  </ion-row>

</ion-content>
