<ion-tabs >
  <ion-tab [root]="tab1Root" tabTitle="Início" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Atividades" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Eventos" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Perfil" tabIcon="contact"></ion-tab>
</ion-tabs>
