page-instructor-agenda {
  ion-content.content {
    background: #f1f1f1;
  }

  .title-md {
    margin-left: -44px !important;
    font-family: 'Quicksand Book Oblique';
  }

  .back-button {
    z-index: 1;
  }

  ion-buttons {
    display: flex;
    justify-content: space-around;
  }

  .btns {
    margin: 10px 0px;
  }

  .monthview-selected[_ngcontent-c1] {
    background-image: linear-gradient(to right bottom, #a8c038, #94bd40, #81b949, #6eb551, #5bb059);
    border-radius: 50px;
  }

  .button-md, .button-ios {
    background-image: linear-gradient(to right bottom, #a8c038, #94bd40, #81b949, #6eb551, #5bb059);
    color: #fff;
    font-family: 'Quicksand';
    border-radius: 25px;
  }

  .button-md.activated, .button-ios.activated {
    background-color: transparent;
    box-shadow: none;
  }

  .button-md:hover:not(.disable-hover), .button-ios:hover:not(.disable-hover) {
    background-color: transparent
  }

  .table-bordered[_ngcontent-c1] > thead[_ngcontent-c1] > tr[_ngcontent-c1] > th[_ngcontent-c1], .table-bordered[_ngcontent-c1] > tbody[_ngcontent-c1] > tr[_ngcontent-c1] > th[_ngcontent-c1], .table-bordered[_ngcontent-c1] > tfoot[_ngcontent-c1] > tr[_ngcontent-c1] > th[_ngcontent-c1], .table-bordered[_ngcontent-c1] > thead[_ngcontent-c1] > tr[_ngcontent-c1] > td[_ngcontent-c1], .table-bordered[_ngcontent-c1] > tbody[_ngcontent-c1] > tr[_ngcontent-c1] > td[_ngcontent-c1], .table-bordered[_ngcontent-c1] > tfoot[_ngcontent-c1] > tr[_ngcontent-c1] > td[_ngcontent-c1] {
    border: none;
    font-family: 'Quicksand';
  }
}
