<!--
  Generated template for the InstructorAgendaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <top-left-toolbar>
    <ion-title>Agenda</ion-title>
  </top-left-toolbar>


</ion-header>


<ion-content>
  <h3 style="text-align: center;"> {{viewTitle}} </h3>
  <ion-buttons class="btns" start>
    <button ion-button (click)="changeMode('day')">Dia</button>
    <button ion-button (click)="changeMode('week')">Semana</button>
    <button ion-button (click)="changeMode('month')">Mês</button>
    <button ion-button (click)="loadEvents()">Carregar</button>
  </ion-buttons>
  <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" [markDisabled]="markDisabled"
    (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)"
    step="30" class="calendar">
  </calendar>
</ion-content>
