<ion-header>
  <top-left-toolbar>
      <ion-title>Programas</ion-title>
  </top-left-toolbar>
</ion-header>

<ion-content>

    <ion-col *ngIf="(role === 'master')">
        <ion-buttons class="add" start>
          <button ion-button icon-only color="green" (click)="create()">
            <ion-icon name="add-circle"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>

    <ion-row>

      <ion-row>
        <ion-col col-6 *ngFor="let program of programs">

          <ion-card ngClass="card-activity">
            <ion-card-content (click)="showDetails(program)">
              <img src="{{program.image.url}}" />
              <ion-card-title>
                {{program.title}}
              </ion-card-title>
              <p>
                {{program.description}}
              </p>
            </ion-card-content>

            <ion-row class="btn" >
              <ion-col *ngIf="!(role === 'instrutor' || role === 'sindico' || role=== 'usuario')">
                <button ion-button color="primary" clear small icon-start (click)="editProgram(program)">
                  <ion-icon name='create'></ion-icon>
                  EDITAR
                </button>
              </ion-col>

              <ion-col *ngIf="!(role === 'instrutor' || role === 'sindico' || role=== 'usuario')">
                <button ion-button color="primary" clear small icon-start (click)="removeProgram(program)">
                  <ion-icon name='trash'></ion-icon>
                  REMOVER
                </button>
              </ion-col>

              <ion-col *ngIf="(role === 'sindico')">
                <button ion-button color="primary" clear small icon-start (click)="checkAttend(program)">
                  FREQUÊNCIAS
                </button>
              </ion-col>

              <ion-col col-6 *ngIf="(role === 'usuario' || role === 'sindico')">
                <button ion-button color="primary" clear small icon-start (click)="subscribeProgram(program)">
                  PARTICIPAR
                </button>
              </ion-col>

              <ion-col col-6 *ngIf="(role === 'usuario' || role === 'sindico')">
                <button ion-button color="primary" clear small icon-start (click)="unsubscribeProgram(program)">
                  SAIR
                </button>
              </ion-col>
            </ion-row>
          </ion-card>

        </ion-col>
      </ion-row>

</ion-row>

</ion-content>
