<ion-header>

  <top-left-toolbar>
    <ion-title>Condomínios</ion-title>
  </top-left-toolbar>

</ion-header>


<ion-content>

  <ion-col *ngIf="(role === 'master')">
    <ion-buttons class="add" start>
      <button ion-button icon-only color="green" (click)="create()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-col>

  <div *ngIf="role === sindico || role === usuario">

    <div *ngIf="showUserCondos;then hasCondos"></div>

    <ng-template #hasCondos>
      <p>Seu condomínio.</p>
      <br/>
      <ion-list>
        <ion-item *ngFor="let condo of userCondos" (click)="showDetails(condo)">
          <ion-avatar item-start>
            <img src="{{condo.image.url}}">
          </ion-avatar>
          <h2>{{condo.name}}</h2>
          <h3>{{ condo.address.street }}</h3>
          <p>{{ condo.address.number }}</p>
        </ion-item>
      </ion-list>
    </ng-template>


  </div>

  <div *ngIf="!(role === 'sindico' || role === 'usuario')">
    <ion-card ngClass="card-activity" *ngFor="let condo of condos">
      <ion-card-content (click)="showDetails(condo)">
        <img src="{{condo.image.url}}" />
        <ion-card-title>
          {{condo.name}}
        </ion-card-title>
        <p>
          {{condo.address.street}}
        </p>
        <p>
          {{condo.address.number}}
        </p>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button color="primary" clear small icon-start (click)="editCondo(condo)">
            <ion-icon name='thumbs-up'></ion-icon>
            EDITAR
          </button>
        </ion-col>

        <ion-col>
          <button ion-button color="primary" clear small icon-start (click)="removeCondo(condo)">
            <ion-icon name='text'></ion-icon>
            REMOVER
          </button>
        </ion-col>

        <ion-col>
          <button ion-button color="primary" clear small icon-start (click)="switchMain(condo)">
            <ion-icon name='text'></ion-icon>
            USAR
          </button>
        </ion-col>

      </ion-row>

    </ion-card>


  </div>





</ion-content>
