<!--
  Generated template for the EventDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Evento</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>

    <ion-item padding>
      <img src="{{event.image.url}}" />
    </ion-item>
    <ion-item>
      <h3>Evento</h3>
      <p>{{event.title}}</p>
    </ion-item>
    <ion-item text-wrap>
      <h3>Redação</h3>
      <p>{{event.event_text}}</p>
    </ion-item>
    <ion-item text-wrap>
      <h3>Informações</h3>
      <p>{{event.informations}}</p>
    </ion-item>
    <ion-item>
      <h3>Data de início</h3>
      <p>{{event.start_date | date: 'dd/MM/yyyy' }}</p>
    </ion-item>
    <ion-item>
      <h3>Data final</h3>
      <p>{{event.end_date | date: 'dd/MM/yyyy'}}</p>
    </ion-item>
    <ion-item>
      <h3>Numero de inscritos</h3>
      <p>{{event.subscribed}}</p>
    </ion-item>

  </ion-list>
</ion-content>
