page-event-detail {

  .title-md {
    margin-left: -44px;
    font-family: 'Quicksand Book Oblique';
  }

  .title-ios {
    font-family: 'Quicksand Book Oblique';
  }

  .toolbar-title-ios {
    font-size: 2rem;
  }

  .back-button-text-ios {
    display: none;
  }

  ion-content.content {
    background: #f1f1f1;
  }

  .item-md, .item-ios {
    background: transparent;
  }

  ion-navbar > button {
    z-index: 1;
  }

  .toolbar-ios {
    padding: 4px;
    min-height: 56px;
  }

  .toolbar-ios ion-title {
    padding: 0;
  }
}
