<!--
  Generated template for the GymCardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <top-left-toolbar>
    <ion-title>Musculação</ion-title>
  </top-left-toolbar>

</ion-header>


<ion-content padding>

</ion-content>
