<!--
  Generated template for the AuthorizePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <top-left-toolbar>
    <ion-title>Condomínio</ion-title>
  </top-left-toolbar>

</ion-header>


<ion-content >
  <div *ngIf="role === 'sindico';then isSindico else notSindico"></div>

  <ng-template #isSindico>
    <h2> Lista de não autorizados.</h2>
    <ion-list >
      <ion-item *ngFor="let unauth of unauthorized">
        <ion-row>
          <ion-col>
            <ion-avatar item-start >
              <img src="{{unauth.users.imageUrl}}">
            </ion-avatar>
          </ion-col>
          <ion-col>
              <h2>{{unauth.users.name}}</h2>
              <h3>{{unauth.users.email}}</h3>
          </ion-col>
          <ion-col>
              <button ion-button color="primary" (click)="showConfirm(unauth)">Liberar</button>
          </ion-col>
        </ion-row>
    </ion-item>





    </ion-list>
  </ng-template>

  <ng-template #notSindico>
    <h2> Lista de não autorizados. </h2>
    <ion-item>
      <ion-label color="primary" stacked>Qual o condomínio?</ion-label>
      <ion-select name="selectCondo" ([ngModel])="data" (ionChange)="onSelectChange($event)" cancelText="Cancelar" okText="Selecionar" >
        <ion-option *ngFor="let condo of condos" [value]="condo">{{condo.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <h3>Condomínio: {{condo}}</h3>
    </ion-item>

    <div *ngIf="selectedCondo;then showList"></div>
    <ng-template #showList>
        <ion-list >
            <ion-item *ngFor="let unauth of unauthorized">
                <ion-row>
                  <ion-col>
                    <ion-avatar item-start >
                      <img src="{{unauth.users.imageUrl}}">
                    </ion-avatar>
                  </ion-col>
                  <ion-col>
                      <h2>{{unauth.users.name}}</h2>
                      <h3>{{unauth.users.email}}</h3>
                  </ion-col>
                  <ion-col>
                      <button ion-button color="primary" (click)="showConfirm(unauth)">Liberar</button>
                  </ion-col>
                </ion-row>
            </ion-item>
          </ion-list>
    </ng-template>

  </ng-template>
</ion-content>
