top-left-toolbar {
  ion-content.content {
    background-color: #f6f6f8;
  }

  .toolbar-background-md, .toolbar-background-ios {
    background-color: #f6f6f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .toolbar-content-md, .toolbar-content-ios {
    display: inline-flex !important;
  }

  ion-title {
    padding-left: 30px;
  }

  .button-md {
    background-color: transparent;
    box-shadow: none;
  }

  .button-md:hover:not(.disable-hover){
    background-color: transparent
  }

  .toolbar-title-md, .toolbar-title-ios {
    padding: 0 12px;
    font-size: 2.5rem;
    font-weight: 500;
    color: #282828 !important;
    font-family: 'Quicksand Book Oblique';
  }

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default,
  .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
    color: #a8c038;
  }

  .pop {
    position: absolute;
    right: 0;
  }

  .add {
    position: absolute;
    top: 12px;
  }
}
