<ion-navbar>
  <!-- <div *ngIf="(role === 'master')">
    <ion-buttons class="add" start >
      <button ion-button icon-only color="green" (click)="create()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </div> -->
    <ng-content select="ion-title" ></ng-content>

    <ion-buttons class="pop" end>
      <button ion-button icon-only color="green" (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>



</ion-navbar>
