<!--
  Generated template for the EventAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <top-left-toolbar>
    <ion-title>Eventos</ion-title>
  </top-left-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="addEvent()">
    <ion-item>
      <upload-form name="imageUrl">Upload</upload-form>

    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Título</ion-label>
      <ion-input name="title" type="text" placeholder="" [(ngModel)]="data.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Descrição</ion-label>
      <ion-input name="descricao" type="text" placeholder="" [(ngModel)]="data.description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Texto</ion-label>
      <ion-input name="event_text" type="text" placeholder="" [(ngModel)]="data.event_text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Informações</ion-label>
      <ion-input name="informations" type="text" placeholder="" [(ngModel)]="data.informations"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Data de inicio</ion-label>
      <ion-datetime name="start_date" displayFormat="DD/MM/YYYY" min="{{today}}" max="2030-12-31" [(ngModel)]="data.start_date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Data final</ion-label>
      <ion-datetime name="end_date" displayFormat="DD/MM/YYYY" min="{{today}}" max="2030-12-31" [(ngModel)]="data.end_date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Numero máximo de participantes</ion-label>
      <ion-input name="max_users" type="text" placeholder="" [(ngModel)]="data.max_users"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Numero mínimo de participantes</ion-label>
      <ion-input name="min_users" type="text" placeholder="" [(ngModel)]="data.min_users"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Pertence a algum condomínio?</ion-label>
      <ion-checkbox name="hasCondo" [(ngModel)]="hasCondo"></ion-checkbox>
    </ion-item>

    <ion-item *ngIf="hasCondo">
      <ion-label color="primary" stacked>Condomínio</ion-label>
      <ion-select name="selectCondo" multiple="true" ([ngModel])="data.condos" (ionChange)="onSelectCondoChange($event)" cancelText="Cancelar"
        okText="Continuar">
        <ion-option *ngFor="let condo of condos" [value]="condo.name">{{condo.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Será instruido?</ion-label>
      <ion-checkbox name="hasIntructor" [(ngModel)]="hasInstructor"></ion-checkbox>
    </ion-item>

    <ion-item *ngIf="hasInstructor">
      <ion-label color="primary" stacked>Instrutor(res)</ion-label>
      <ion-select name="selectInstructor" multiple="true" ([ngModel])="data.instructors" (ionChange)="onSelectInstructorChange($event)"
        cancelText="Cancelar" okText="Continuar">
        <ion-option *ngFor="let instructor of instructors" [value]="instructor.id">{{instructor.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Publicar?</ion-label>
      <ion-checkbox name="isActive" [(ngModel)]="isActive"></ion-checkbox>
    </ion-item>


    <ion-item>
      <button ion-button color="primary" type="submit">ADICIONAR EVENTO</button>
    </ion-item>
  </form>
</ion-content>
