<ion-header>
  <top-left-toolbar>
    <ion-title>
      Eventos
    </ion-title>
  </top-left-toolbar>
</ion-header>

<ion-content class="card-event">

  <ion-row>
    <ion-col>
      <h1>Eventos</h1>
    </ion-col>
    <ion-col *ngIf="(role === 'master')">
        <ion-buttons class="add" start>
          <button ion-button icon-only color="green" (click)="create()">
            <ion-icon name="add-circle"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
  </ion-row>

  <ion-card ngClass="card-event" *ngFor="let event of events">
    <ion-card-content (click)="showDetails(event)">
      <img src="{{event.image.url}}" />
      <ion-card-title text-wrap>
        {{event.title}}
      </ion-card-title>
      <p text-wrap class="sub-p">
        {{event.description}}
      </p>
      <p>
        {{event.subscribed}}
      </p>
    </ion-card-content>

    <ion-row *ngIf="!(role === 'instrutor' || role === 'sindico' || role=== 'usuario')">
      <ion-col col-6>
        <button ion-button color="primary" clear small icon-start (click)="editEvent(event)">
          <ion-icon name='create'></ion-icon>
          EDITAR
        </button>
      </ion-col>

      <ion-col col-6 *ngIf="!(role === 'instrutor' || role === 'sindico' || role=== 'usuario')">
        <button ion-button color="primary" clear small icon-start (click)="removeEvent(event)">
          <ion-icon name='trash'></ion-icon>
          REMOVER
        </button>
      </ion-col>

      <ion-col col-6 *ngIf="(role === 'usuario' || role === 'sindico')">
          <button ion-button color="primary" clear small icon-start (click)="subscribeEvent(event)">
            PARTICIPAR
          </button>
        </ion-col>

        <ion-col col-6 *ngIf="(role === 'usuario' || role === 'sindico')">
          <button ion-button color="primary" clear small icon-start (click)="unsubscribeEvent(event)">
            SAIR
          </button>
        </ion-col>

    </ion-row>

  </ion-card>

  <ion-card ngClass="card-event" *ngFor="let event of condoEvents">
    <ion-card-content (click)="showDetails(event)">
      <img src="{{event.image.url}}" />
      <ion-card-title text-wrap>
        {{event.title}}
      </ion-card-title>
      <p text-wrap class="sub-p">
        {{event.description}}
      </p>
      <p>
        {{event.subscribed}}
      </p>
    </ion-card-content>

    <ion-row *ngIf="!(role === 'instrutor' || role === 'sindico' || role=== 'usuario')">
      <ion-col>
        <button ion-button color="primary" clear small icon-start (click)="editEvent(event)">
          <ion-icon name='thumbs-up'></ion-icon>
          EDITAR
        </button>
      </ion-col>

      <ion-col *ngIf="!(role === 'instrutor' || role === 'sindico' || role=== 'usuario')">
        <button ion-button color="primary" clear small icon-start (click)="removeEvent(event)">
          <ion-icon name='text'></ion-icon>
          REMOVER
        </button>
      </ion-col>

      <ion-col col-6 *ngIf="(role === 'usuario' || role === 'sindico')">
          <button ion-button color="primary" clear small icon-start (click)="subscribeEvent(event)">
            PARTICIPAR
          </button>
        </ion-col>

        <ion-col col-6 *ngIf="(role === 'usuario' || role === 'sindico')">
          <button ion-button color="primary" clear small icon-start (click)="unsubscribeEvent(event)">
            SAIR
          </button>
        </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
