<!--
  Generated template for the PartnerUpdatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <top-left-toolbar>
    <ion-title>Parceiro</ion-title>
  </top-left-toolbar>
</ion-header>


<ion-content padding>
<form (submit)="updatePartner()">
    <ion-item>
        <upload-form name="imageUrl">Upload</upload-form>
      </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Razão social</ion-label>
        <ion-input name="name" type="text" placeholder="partner.name" [(ngModel)]="data.name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Nome fantasia</ion-label>
        <ion-input name="fantasy_name" type="text" placeholder="partner.fantasy_name" [(ngModel)]="data.fantasy_name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>CNPJ</ion-label>
        <ion-textarea name="cnpj"  type="text" placeholder="partner.cnpj" [(ngModel)]="data.cnpj"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Telefone</ion-label>
      <ion-textarea name="phone"  type="text" placeholder="partner.phone" [(ngModel)]="data.phone"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Email de contato</ion-label>
      <ion-textarea name="email"  type="text" placeholder="partner.email" [(ngModel)]="data.email"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Informações</ion-label>
      <ion-textarea name="informations"  type="text" placeholder="partner.informations" [(ngModel)]="data.informations"></ion-textarea>
    </ion-item>
    

    <ion-item>
        <button ion-button color="primary" type="submit">ATUALIZAR PARCEIRO</button>
    </ion-item>
  </form>
</ion-content>
