page-profile {
  ion-content.content {
    background: #f1f1f1;
  }

  .toolbar-content-md, .toolbar-content-ios {
    display: inline-flex !important;
  }

  .button-md, .button-ios {
    background-image: linear-gradient(to right bottom, #a8c038, #94bd40, #81b949, #6eb551, #5bb059);
    width: 100%;
    color: #fff;
    font-family: 'Quicksand';
    border-radius: 25px;
  }

  .button-md.activated, .button-ios.activated {
    background-color: transparent;
    box-shadow: none;
  }

  .button-md:hover:not(.disable-hover), .button-ios:hover:not(.disable-hover) {
    background-color: transparent
  }

  .toolbar-title-md, .toolbar-title-ios {
    padding: 0 12px;
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
    font-family: 'Quicksand Book Oblique';
  }

  ion-content .scroll-content {
    text-align: center;
  }

  .item-md, .item-ios {
    position: relative;
    font-size: 1.6rem;
    color: #fff;
    background: transparent;
    padding: 0;
    border: 0;
  }

  .list-md .item-block .item-inner,
  .list-ios .item-block .item-inner {
    border: 0;
  }

  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border: 0;
  }

  .label-md, .label-ios {
    color: #A8C038;
    text-transform: uppercase;
    font-family: 'Quicksand Bold';
  }

  .toolbar-title-ios{
    padding-top: 20px !important;
  }

  ion-list {
    display: block;
    list-style-type: none;
    background: #282828;
    padding: 5px;
  }

  .list-ios {
    margin: 0;
  }

  .image {
    background-color: #a8c038;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");

    > img {
      border-radius: 100%;
      border: 4px solid white;
      margin-bottom: 20px;
      margin-top: 20px;
      width: 200px;
      height: 200px;
    }
  }

  .items-condo {
    display: inline-flex;
    align-items: center;
  }

  .titulos {
    padding-bottom: 35px;

    > h2, h3 {
      margin: 0;
      color: white;
    }

    > h2 {
      text-transform: capitalize;
      font-family: 'Quicksand Bold';
    }

    > h3 {
      font-family: 'Quicksand Book';
    }
  }

  ion-slides {
    width: auto !important;
    height: auto !important;
  }

  h2 {
    color: #A8C038;
    text-transform: uppercase;
    font-family: 'Quicksand Bold'
  }

  ion-grid {
    padding-bottom: 50px !important;
  }

  ion-icon {
    font-size: 2.5em;
  }

  .titulo-h3 {
    margin: 0;
    font-size: 15px;
    color: #282828;
    font-family: 'Quicksand book';
  }

  .sub-p {
    margin: 4px 0;
    color: #a7bf38;
    font-family: 'Quicksand Book Oblique';
    font-size: 13px;
  }

  .image-condo {
    height: 140px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    border-radius: 15px;

    > img {
      border-radius: 15px;
      width: 100%
    }
  }
  
  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
    padding: 20px;
  }
}
