<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <top-left-toolbar>
    <ion-title>Perfil</ion-title>
  </top-left-toolbar>
</ion-header>


<ion-content>
  <div *ngFor="let user of userData">
  <div class="image">
    <img src="{{user.profileImage}}" />
    <div class="titulos">
      <h2>{{user.name}}</h2>
      <h3>{{user.email}}</h3>
    </div>
  </div>

  <ion-slides pager>

    <ion-slide>
      <h2>Meus dados</h2>
      <ion-grid>
          <ion-row>
            <ion-col col>
                <ion-icon ios="ios-card" md="ios-card"></ion-icon>
                <h3 class="titulo-h3">CPF</h3>
                <p class="sub-p">{{user.social_number}}</p>
            </ion-col>
            <ion-col col>
                <ion-icon ios="ios-mail-outline" md="ios-mail"></ion-icon>
                <h3 class="titulo-h3">E-mail</h3>
                <p class="sub-p">{{user.email}}</p>
            </ion-col>
            <ion-col col>
                <ion-icon ios="ios-people-outline" md="ios-people-outline"></ion-icon>
                <h3 class="titulo-h3">Família</h3>
                <p class="sub-p">Em Breve</p>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-slide>

    <ion-slide>
        <h2>Condomínio</h2>
        <ion-grid>
            <ion-row>
              <ion-col col>
                <div class="image-condo">
                  <img src="{{user.condoImage}}"/>
                </div>
                <h3 class="titulo-h3">{{user.condo}}</h3>
              </ion-col>
            </ion-row>
          </ion-grid>
    </ion-slide>

  </ion-slides>

  <button ion-button class="button-profile" (click)="editUser(user)">Editar Perfil</button>
  </div>
</ion-content>
