<!--
  Generated template for the HealthTipUpdatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <top-left-toolbar>
    <ion-title>Dicas</ion-title>
  </top-left-toolbar>
</ion-header>


<ion-content padding>
  <form (ngSubmit)="updateHealthTip()">
      <ion-label color="primary" stacked>Imagem</ion-label>
      <ion-card ngClass="card-activity">
        <ion-card-content>
          <img src="{{healthTip.image.url}}" />
        </ion-card-content>
      </ion-card>
    <ion-item>
      <upload-form name="imageUrl">Upload</upload-form>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Titulo da dica</ion-label>
      <ion-input name="title" type="text" placeholder="" [(ngModel)]="data.title"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Descrição</ion-label>
        <ion-input name="description" type="text" placeholder="" [(ngModel)]="data.description"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Texto</ion-label>
        <ion-textarea name="health_tip_text"  type="text" placeholder="" [(ngModel)]="data.health_tip_text"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Informações</ion-label>
      <ion-textarea name="informations"  type="text" placeholder="Coloque aqui informações como horarios disponíveis." [(ngModel)]="data.informations"></ion-textarea>
  </ion-item>


    <ion-item>
      <ion-label>Publicar?</ion-label>
      <ion-checkbox name="isActive" [(ngModel)]="isActive"></ion-checkbox>
    </ion-item>



    <ion-item>
        <button ion-button color="primary" type="submit">ATUALIZAR DICA</button>
    </ion-item>
  </form>
</ion-content>
