page-health-tip-update {

  ion-content.content {
    background: #f1f1f1;
  }

  .title-md {
    margin-left: -44px !important;
    font-family: 'Quicksand Book Oblique';
  }

  .item-md, .item-ios {
    padding-left: 0;
  }

  button.item-button {
    width: 100%;
    height: 40px !important;
  }

  .item-inner {
    padding-right: 0 !important;
  }

  .item-button {
    margin: 0;
  }

  ion-label button {
    margin: 0;
  }

  ion-navbar > button {
    z-index: 1;
  }

  .select-md, ion-datetime {
    height: 50px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 8px;
  }

  .select-icon {
    height: 40px !important;
  }

  .item-md.item-input.item-input-has-focus .item-inner,
  .item-md.item-input.input-has-focus .item-inner,
  .item-ios.item-input.item-input-has-focus .item-inner,
  .item-ios.item-input.input-has-focus .item-inner {
    border-bottom: none;
  }

  .list-md .item-input.item-input-has-focus:last-child,
  .list-md .item-input.input-has-focus:last-child,
  .list-ios .item-input.item-input-has-focus:last-child,
  .list-ios .item-input.input-has-focus:last-child {
    border-bottom: none;
  }

  .list-md .item-block .item-inner, .list-ios .item-block .item-inner {
    border: none !important;
    padding-right: 0;
    box-shadow: none !important;
  }
  .list-md .item-input:last-child {
    border: none !important;
    box-shadow: none !important;
  }

  .label-md[stacked], .label-md[floating],
  .label-ios[stacked], .label-ios[floating] {
    margin-left: 5px;
    margin-bottom: 3px;
    transition: 0.2s all ease-out;
    font-family: 'Quicksand';
    font-size: 14px;
  }

  .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating], .item-input-has-value .label-md[floating], .input-has-value .label-md[floating] {
    margin-left: 0;
    transition: 0.2s all ease-out;
  }

  .item-label-stacked .text-input-md, .item-label-floating .text-input-md,
  .item-label-stacked .text-input-ios, .item-label-floating .text-input-ios {
    margin-left: 15px;
    margin-bottom: 0;
    margin-top: 0;
    height: 100%;
    margin-right: 10px;
    width: calc(100% - 15px);
  }

  ion-input, ion-textarea {
    height: 50px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 8px;
  }

  ion-list.list-md {
    margin-top: -25px;
  }

  ion-item.item-md, ion-item.item-ios {
    padding: 0px;
    background-color: transparent;
    color: #282828;
    border-radius: 2px;
    margin-top: 0px;
  }

  ion-col.col {
    justify-content: center;
    display: flex;
  }

  h1 {
    color: #282828;
    text-transform: uppercase;
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 18px;
    margin: 0 !important;
  }

  .text-input {
    font-family: 'Quicksand Book';
  }

  .text-input-md, .text-input-ios {
    margin: 0px 40px;
    width: calc(100% - 8px - 8px);
  }

  .titulo {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .button-md, .button-ios {
    border-radius: 25px;
    border: 2px solid #A8C038;
    color: #A8C038;
    height: 45px;
    margin-top: 30px;
    text-transform: uppercase;
    background: transparent;
  }

  .button-inner {
    font-family: 'Quicksand Bold';
  }

  p {
    position: relative;
    color: #282828;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Quicksand';
  }
}
