<!--
  Generated template for the CondoDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <top-left-toolbar>
    <ion-title>
      Condomínios
    </ion-title>
  </top-left-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <img src="{{condo.image.url}}" />
    </ion-item>
    <ion-item text-wrap>
      <h3>Condomínio</h3>
      <p>{{condo.name}}</p>
    </ion-item>
    <ion-item text-wrap>
      <h3>Sobre o condomínio</h3>
      <p>{{condo.condo_info}}</p>
    </ion-item>
    <ion-item text-wrap>
      <h3>Endereço</h3>
      <p>{{condo.address.street}}</p>
    </ion-item>
    <ion-item>
      <h3>Numero</h3>
      <p>{{condo.address.number}}</p>
    </ion-item>

    <ion-item *ngIf="!(role === 'usuario' || role === sindico || role === instrutor)">
      <button ion-button color="primary" clear small icon-start (click)="editCondo(condo)">
        <ion-icon name='thumbs-up'></ion-icon>
        Editar
      </button>
      <button ion-button color="primary" clear small icon-start (click)="removeCondo(condo)">
        <ion-icon name='text'></ion-icon>
        Remover
      </button>
    </ion-item>
  </ion-list>
</ion-content>
