<!--
  Generated template for the ProgramUpdatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <top-left-toolbar>
    <ion-title>Programas</ion-title>
  </top-left-toolbar>

</ion-header>


<ion-content padding>
    <form (submit)="updateProgram()">
        <ion-label color="primary" stacked>Imagem</ion-label>
        <ion-card ngClass="card-activity">
          <ion-card-content>
            <img src="{{program.image.url}}" />
          </ion-card-content>
        </ion-card>

        <ion-item>
          <upload-form name="imageUrl">Upload</upload-form>
        </ion-item>

        <ion-item>
            <ion-label color="primary" stacked>Nome da programa</ion-label>
            <ion-input name="title" type="text" placeholder="{{program.title}}" [(ngModel)]="data.title"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Descrição</ion-label>
            <ion-input name="description" type="text" placeholder="{{program.description}}" [(ngModel)]="data.description"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Texto</ion-label>
            <ion-textarea name="program_text" type="text" placeholder="{{program.program_text}}" [(ngModel)]="data.program_text"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>Informações</ion-label>
          <ion-input name="description" type="text" placeholder="{{program.informations}}" [(ngModel)]="data.informations"></ion-input>
      </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Data de inicio</ion-label>
            <ion-datetime name="start_date" displayFormat="DD/MM/YYYY" min="{{today}}" max="2030-12-31" [(ngModel)]="program.start_date" [(ngModel)]="data.start_date"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Data final</ion-label>
            <ion-datetime name="end_date" displayFormat="DD/MM/YYYY" min="{{today}}" max="2030-12-31" [(ngModel)]="program.end_date" [(ngModel)]="data.end_date"></ion-datetime>
        </ion-item>
        <ion-item>
            <button ion-button color="primary" type="submit">Atualizar</button>
        </ion-item>
      </form>
</ion-content>
