<!--
  Generated template for the UserProfileUpdatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <top-left-toolbar>
    <ion-title>Perfil</ion-title>
  </top-left-toolbar>

</ion-header>


<ion-content >
  <form (submit)="updateUserProfile()" >
      <ion-label color="primary" stacked>Imagem de perfil</ion-label>
      <ion-card ngClass="card-activity">
        <ion-card-content>
          <img src="{{user.profileImage}}"/>
        </ion-card-content>
      </ion-card>

      <ion-item>
        <upload-form name="imageUrl">Upload</upload-form>
      </ion-item>

    <ion-item>
        <ion-label color="primary" stacked>CPF</ion-label>
        <ion-input name="social_number" type="text" placeholder="{{user.social_number}}" min="11" max="11" [(ngModel)]="data.social_number"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Data de nascimento</ion-label>
        <ion-datetime name="birth_date" displayFormat="DD/MM/YYYY" min="1920-01-01" max="2018-01-01" [(ngModel)]="data.birth_date"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Altura</ion-label>
        <ion-input name="height" type="text" placeholder="{{user.height}}" [(ngModel)]="data.height"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Peso</ion-label>
        <ion-input name="weight" type="text" placeholder="{{user.weight}}" [(ngModel)]="data.weight"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Quem devemos contactar em caso de emergência?</ion-label>
      <ion-input name="emergency_name" type="text" placeholder="{{user.emergency_name}}" [(ngModel)]="data.emergency_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Qual o número de contato?</ion-label>
      <ion-input name="emergency_phone" type="text" placeholder="{{user.emergency_phone}}" [(ngModel)]="data.emergency_phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Observações que gostaria de compartilhar conosco:</ion-label>
      <ion-input name="observatios" type="text" placeholder="{{user.observations}}" [(ngModel)]="data.observations"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label>Eu troquei de condomínio!</ion-label>
      <ion-checkbox name="condoChanged" [(ngModel)]="condoChanged"></ion-checkbox>
    </ion-item>

    <ion-item *ngIf="!condoChanged">
      <ion-label color="primary" stacked>Qual o seu novo condomínio?</ion-label>
      <ion-select name="selectCondo" ([ngModel])="condos" (ionChange)="onSelectChange($event)" cancelText="Cancelar" okText="Selecionar" >
        <ion-option *ngFor="let condo of condos" [value]="condo.name">{{condo.name}}</ion-option>
      </ion-select>
    </ion-item> -->

    <ion-item>
      <ion-label color="primary" stacked>Bloco/Torre ou similar</ion-label>
      <ion-input name="building" type="text" placeholder="{{user.building}}" [(ngModel)]="data.building"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Apartamento</ion-label>
      <ion-input name="apartment" type="text" placeholder="{{user.apartment}}" [(ngModel)]="data.apartment"></ion-input>
    </ion-item>



    <ion-item>
        <button ion-button color="primary" type="submit" >ATUALIZAR MEUS DADOS</button>
    </ion-item>
  </form>
</ion-content>
