<ion-header>
  <top-left-toolbar>
    <ion-title>Início</ion-title>
  </top-left-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <h1>Notícias</h1>
    </ion-col>
    <ion-col *ngIf="(role === 'master')">
        <ion-buttons class="add" start>
          <button ion-button icon-only color="green" (click)="create()">
            <ion-icon name="add-circle"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
  </ion-row>


  <ion-card *ngFor="let healthTip of healthTips">
    <ion-card-content (click)="showDetails(healthTip)">
      <ion-row>
        <ion-col col-4>
          <img src="{{healthTip.image.url}}">
        </ion-col>
        <ion-col>
          <ion-item>
            <h2>{{healthTip.title}}</h2>
            <p class="desc">{{healthTip.description}}</p>
          </ion-item>
        </ion-col>
      </ion-row>


    </ion-card-content>

    <ion-row *ngIf="!(role === 'instrutor' || role === 'sindico' || role === 'usuario')">
      <ion-col>
        <button ion-button color="primary" clear small icon-start (click)="editHealthTip(healthTip)">
          <ion-icon name='create'></ion-icon>
          EDITAR
        </button>
      </ion-col>
      <ion-col *ngIf="!(role === 'instrutor' || role === 'sindico' || role === 'usuario')">
        <button ion-button color="primary" clear small icon-start (click)="removeHealthTip(healthTip)">
          <ion-icon name='trash'></ion-icon>
          REMOVER
        </button>
      </ion-col>

    </ion-row>

  </ion-card>

</ion-content>
