page-home {
  ion-content.content {
    background: #f1f1f1;
  }

  .toolbar-content-md, .toolbar-content-ios {
    display: inline-flex !important;
  }

  .button-md, .button-ios {
    background-image: linear-gradient(to right bottom, #a8c038, #94bd40, #81b949, #6eb551, #5bb059);
    width: 100%;
    color: #fff;
    font-family: 'Quicksand';
    border-radius: 25px;
  }

  .button-md.activated, .button-ios.activated {
    background-color: transparent;
    box-shadow: none;
  }

  .button-md:hover:not(.disable-hover), .button-ios:hover:not(.disable-hover) {
    background-color: transparent
  }

  .toolbar-title-md, .toolbar-title-ios {
    padding: 0 12px;
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
    font-family: 'Quicksand Book Oblique';
  }

  .label-md {
    margin: 0;
  }

  h1 {
    font-weight: 900;
    font-size: 30px;
    font-family: 'Quicksand';
    text-align: left;
    padding-left: 10px;
  }

  ion-card.card-md,
  ion-card.card-ios  {
    background: #f7f9fc;
    border-radius: 10px;
    box-shadow: none;
  }

  .item-md, .item-ios {
    background-color: transparent !important;
    color: #fff;
  }

  ion-label p {
    color: #282828 !important;
    font-size: 1.2rem !important;
  }

  .card-md h2, .card-ios h2 {
    color: #a8c038;
    font-size: 2rem;
    font-weight: 600;
  }

  ion-label {
    white-space: normal;
  }

  .card-md p.desc {
    color: #282828 !important;
    -webkit-margin-before: 1em !important;
    -webkit-margin-after: 1em !important;
    -webkit-margin-start: 0px !important;
    -webkit-margin-end: 0px !important;
  }

  .toolbar-title-ios{
    padding-top: 20px !important;
  }

  .col {
    text-align: center;
  }

  .btn-new {
    margin-top: 2rem;
    background: transparent;
    box-shadow: none;
    color: #A8C038;
  }
}
