<!--
  Generated template for the PromotionUpdatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <top-left-toolbar>
    <ion-title>Promoções</ion-title>
  </top-left-toolbar>

</ion-header>


<ion-content padding>
  <form (submit)="updatePromotion()">
    <ion-item>

        <upload-form name="imageUrl">Upload</upload-form>
      </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Título da promoção</ion-label>
        <ion-input name="title" type="text" placeholder="{{ promotion.title}}" [(ngModel)]="data.title"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Descrição</ion-label>
        <ion-input name="description" type="text" placeholder="{{ promotion.description}}" [(ngModel)]="data.description"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Texto</ion-label>
        <ion-textarea name="promotion_text"  type="text" placeholder="{{ promotion.promotion_text}}" [(ngModel)]="data.promotion_text"></ion-textarea>
    </ion-item>
    
    <ion-item>
        <ion-label color="primary" stacked>Data de inicio</ion-label>
        <ion-datetime name="start_date" displayFormat="DD/MM/YYYY" min="{{today}}" max="2030-12-31" [(ngModel)]="data.start_date"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Data final</ion-label>
        <ion-datetime name="end_date"  displayFormat="DD/MM/YYYY" min="{{today}}" max="2030-12-31" [(ngModel)]="data.end_date"></ion-datetime>
    </ion-item>
    
    <ion-item>
      <ion-label>Publicar?</ion-label>
      <ion-checkbox name="active" [(ngModel)]="active"></ion-checkbox>
    </ion-item>

    <ion-item>
        <button ion-button color="primary" type="submit">ATUALIZAR PROMOÇÃO</button>
    </ion-item>
  </form>
</ion-content>
