<ion-label color="primary" stacked>Upload imagem</ion-label>
<label>
    <input type="file" (change)="detectFiles($event)">
</label>

<!-- <button ion-button color="primary"
        [disabled]="!selectedFiles"
        (click)="uploadSingle()">

  <ion-icon name="cloud-upload"></ion-icon>
</button> -->
<ng-container *ngIf="progress | async as percent">
  <progress [value]="percent" max="100"></progress>
</ng-container>

