<ion-header>
    <top-left-toolbar>
      <ion-title>Atividades</ion-title>
    </top-left-toolbar>
</ion-header>

<ion-content padding>
  <form (submit)="addActivity()">
    <ion-item>

        <upload-form name="imageUrl">Upload</upload-form>
      </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Nome da atividade</ion-label>
        <ion-input name="title" type="text" placeholder="" [(ngModel)]="data.title"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Descrição</ion-label>
        <ion-input name="description" type="text" placeholder="" [(ngModel)]="data.description"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Texto</ion-label>
        <ion-textarea name="activity_text"  type="text" placeholder="" [(ngModel)]="data.activity_text"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Informações</ion-label>
      <ion-textarea name="activity_text"  type="text" placeholder="Coloque aqui informações como horarios disponíveis." [(ngModel)]="data.informations"></ion-textarea>
  </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Data de inicio</ion-label>
        <ion-datetime name="start_date" displayFormat="DD/MM/YYYY" min="{{today}}" max="2030-12-31" [(ngModel)]="data.start_date"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Data final</ion-label>
        <ion-datetime name="end_date"  displayFormat="DD/MM/YYYY" min="{{today}}" max="2030-12-31" [(ngModel)]="data.end_date"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Qual o condomínio?</ion-label>
        <ion-select name="selectCondo" [(ngModel)]="data.condos" (ionChange)="onSelectChange($event)" cancelText="Cancelar" okText="Selecionar" multiple="true" >
          <ion-option *ngFor="let condo of condos" [value]="condo.name">{{condo.name}}</ion-option>
        </ion-select>
      </ion-item>

    <ion-item>
        <button ion-button color="primary" type="submit">Adicionar Atividade</button>
    </ion-item>
  </form>
</ion-content>
