<!--
  Generated template for the ProgramDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <top-left-toolbar>
    <ion-title>Programas</ion-title>
  </top-left-toolbar>
    

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item text-wrap>
      <ion-row>
        <ion-col col-3>
          <img src="{{program.image.url}}" />
        </ion-col>
        <ion-col padding>
          <h3>{{program.title}}</h3>
          <p>{{program.program_text}}</p>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item text-wrap>
      <h3>Mais informações</h3>
      <p>{{program.informations}}</p>
    </ion-item>
    

    <ion-item *ngIf="!(role === 'usuario' || role === sindico || role === instrutor)">
      <button ion-button color="primary" clear small icon-start (click)="editActivity(program)">
        <ion-icon name='thumbs-up'></ion-icon>
        Editar
      </button>
      <button ion-button color="primary" clear small icon-start (click)="removeActivity(program)">
        <ion-icon name='text'></ion-icon>
        Remover
      </button>
    </ion-item>
  </ion-list>
</ion-content>
