
<ion-header>

  <top-left-toolbar>
    <ion-title>Parceiros</ion-title>
  </top-left-toolbar>

</ion-header>


<ion-content>
    <ion-col *ngIf="(role === 'master')">
      <ion-buttons class="add" start >
        <button ion-button icon-only color="green" (click)="create()">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-buttons>
    </ion-col>


    <ion-card ngClass="card-partner" *ngFor="let partner of partners"  >
      <ion-card-content (click)="showDetails(partner)">
          <img src="{{partner.image.url}}"/>
        <ion-card-title >
          {{partner.name}}
        </ion-card-title>
        
      </ion-card-content>

      <ion-row *ngIf="!(role === 'instrutor' || role === 'sindico' || role=== 'usuario')">
        <ion-col>
          <button ion-button color="primary" clear small icon-start (click)="editPartner(partner)">
            <ion-icon name='thumbs-up'></ion-icon>
              EDITAR
          </button>
        </ion-col>

        <ion-col *ngIf="!(role === 'instrutor' || role === 'sindico' || role=== 'usuario')">
          <button ion-button color="primary" clear small icon-start (click)="removePartner(partner)">
            <ion-icon name='text'></ion-icon>
              REMOVER
          </button>
        </ion-col>

      </ion-row>

    </ion-card>

    

</ion-content>
