<!--
  Generated template for the NotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <top-left-toolbar>
    <ion-title>Notificações</ion-title>
  </top-left-toolbar>
</ion-header>


<ion-content padding>
  <form (submit)="sendNotification()">
    
    <ion-item>
        <ion-label color="primary" stacked>Título da Notificação</ion-label>
        <ion-input name="notificationTitle" type="text" placeholder="" [(ngModel)]="notificationTitle"></ion-input>
    </ion-item>
    
    <ion-item>
        <ion-label color="primary" stacked>Texto</ion-label>
        <ion-textarea name="notificationText"  type="text" placeholder="" [(ngModel)]="notificationText"></ion-textarea>
    </ion-item>
    

    <ion-item>
        <button ion-button color="primary" type="submit">ENVIAR NOTIFICAÇÃO</button>
    </ion-item>
  </form>
</ion-content>
