<!--
  Generated template for the ReportsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <top-left-toolbar>
    <ion-title>Relatórios</ion-title>
  </top-left-toolbar>

</ion-header>


<ion-content>

  <ion-item >
    <ion-label color="primary" stacked>Selecione o tipo de relatório: </ion-label>
    <ion-select name="reportTypes" ([ngModel])="reportTypes" (ionChange)="onSelectChangeReportTypes($event)" cancelText="Cancelar" okText="Continuar">
      <ion-option *ngFor="let reportType of reportTypes" [value]="reportType">{{reportType}}</ion-option>
    </ion-select>
  </ion-item>

  <div [ngSwitch]="reportType">
      <div *ngSwitchCase="'Frequência de instrutores'">
          <h5>Selecione o intervalo de datas desejado: </h5>
          <ion-item>
              <ion-label color="primary" stacked>Data inicial</ion-label>
              <ion-datetime name="start_date" displayFormat="DD/MM/YYYY" max="2030-12-31" [(ngModel)]="start_date"></ion-datetime>
          </ion-item>

          <ion-item>
              <ion-label color="primary" stacked>Data final</ion-label>
              <ion-datetime name="end_date"  displayFormat="DD/MM/YYYY" max="2030-12-31" [(ngModel)]="end_date"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label color="primary" stacked>Instrutor</ion-label>
            <ion-select name="instructors" ([ngModel])="instructors" (ionChange)="onSelectChangeInstructors($event)" cancelText="Cancelar" okText="Continuar">
              <ion-option *ngFor="let instructor of instructors" [value]="instructor.email">{{instructor.name}}</ion-option>
            </ion-select>
          </ion-item>
          <button ion-button color="primary" clear (click)="searchAttendances(reportType)">PESQUISAR</button>
      </div>
      <div *ngSwitchCase="'Frequência de alunos'">
          <h5>Selecione o intervalo de datas desejado: </h5>
          <ion-item>
              <ion-label color="primary" stacked>Data inicial</ion-label>
              <ion-datetime name="start_date" displayFormat="DD/MM/YYYY" max="2030-12-31" [(ngModel)]="start_date"></ion-datetime>
          </ion-item>

          <ion-item>
              <ion-label color="primary" stacked>Data final</ion-label>
              <ion-datetime name="end_date"  displayFormat="DD/MM/YYYY" max="2030-12-31" [(ngModel)]="end_date"></ion-datetime>
          </ion-item>
          <ion-item *ngIf="hasCondo">
            <ion-label color="primary" stacked>Condomínio</ion-label>
            <ion-select name="condos" ([ngModel])="condos" (ionChange)="onSelectChangeCondos($event)" cancelText="Cancelar" okText="Continuar">
              <ion-option *ngFor="let condo of condos" [value]="condo.name">{{condo.name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label color="primary" stacked>Aluno</ion-label>
            <ion-select name="alunos" ([ngModel])="users" (ionChange)="onSelectChangeUsers($event)" cancelText="Cancelar" okText="Continuar">
              <ion-option *ngFor="let user of users" [value]="user.email">
                {{user.name}}
              </ion-option>
            </ion-select>
          </ion-item>
          <button ion-button color="primary" clear (click)="searchAttendances(reportType)">PESQUISAR</button>
      </div>
      <div *ngSwitchCase="'Condomínios'">
          <button ion-button color="primary" clear (click)="searchAttendances(reportType)">PESQUISAR</button>
      </div>
      <div *ngSwitchCase="'Atividades'">
          <button ion-button color="primary" clear (click)="searchAttendances(reportType)">PESQUISAR</button>
      </div>
      <div *ngSwitchCase="'Atividades por condomínio'">
          <button ion-button color="primary" clear (click)="searchAttendances(reportType)">PESQUISAR</button>
      </div>
      <div *ngSwitchCase="'Eventos'">
          <button ion-button color="primary" clear (click)="searchAttendances(reportType)">PESQUISAR</button>
      </div>
      <div *ngSwitchCase="'Eventos por condomínio'">
          <button ion-button color="primary" clear (click)="searchAttendances(reportType)">PESQUISAR</button>
      </div>
      <div *ngSwitchCase="'Programas'">
          <button ion-button color="primary" clear (click)="searchAttendances(reportType)">PESQUISAR</button>
      </div>
      <div *ngSwitchCase="'Programas por condomínio'">
          <button ion-button color="primary" clear (click)="searchAttendances(reportType)">PESQUISAR</button>
      </div>
      <div *ngSwitchCase="'Agenda'">
          <button ion-button color="primary" clear (click)="searchAttendances(reportType)">PESQUISAR</button>
      </div>
      <div *ngSwitchCase="'Agenda por instrutor'">
          <button ion-button color="primary" clear (click)="searchAttendances(reportType)">PESQUISAR</button>
      </div>
  </div>



  <!-- <div *ngIf="(search);then results else searchForm"></div>

  <ng-template #searchForm>
    <h5>Selecione o intervalo de datas desejado: </h5>
    <ion-item>
        <ion-label color="primary" stacked>Data inicial</ion-label>
        <ion-datetime name="start_date" displayFormat="DD/MM/YYYY" max="2030-12-31" [(ngModel)]="start_date"></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label color="primary" stacked>Data final</ion-label>
        <ion-datetime name="end_date"  displayFormat="DD/MM/YYYY" max="2030-12-31" [(ngModel)]="end_date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Buscar um instrutor específico?</ion-label>
      <ion-checkbox name="hasInstructor" [(ngModel)]="hasInstructor"></ion-checkbox>
    </ion-item>

    <ion-item *ngIf="hasInstructor" >
      <ion-label color="primary" stacked>Instrutor</ion-label>
      <ion-select name="instructors" ([ngModel])="instructors" (ionChange)="onSelectChangeInstructors($event)" cancelText="Cancelar" okText="Continuar">
        <ion-option *ngFor="let instructor of instructors" [value]="instructor.email">{{instructor.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="!(role === 'instrutor' || role === 'sindico' || role === 'usuario')">
      <ion-label>Buscar um condomínio específico?</ion-label>
      <ion-checkbox name="hasCondo" [(ngModel)]="hasCondo"></ion-checkbox>
    </ion-item>

    <ion-item *ngIf="hasCondo">
      <ion-label color="primary" stacked>Condomínio</ion-label>
      <ion-select name="condos" ([ngModel])="condos" (ionChange)="onSelectChangeCondos($event)" cancelText="Cancelar" okText="Continuar">
        <ion-option *ngFor="let condo of condos" [value]="condo.name">{{condo.name}}</ion-option>
      </ion-select>
    </ion-item>

    <button ion-button color="primary" clear (click)="searchAttendances()">PESQUISAR</button>
  </ng-template>

  <ng-template #results>
    <ion-list>
      <ion-item *ngFor="let attendance of attendances">
        <ion-row>
          <ion-col>
            Condomínio
          </ion-col>
          <ion-col>
            {{ attendance.condo }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Instrutor
          </ion-col>
          <ion-col>
            {{ attendance.instructor }}
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col>
            Atividade
          </ion-col>
          <ion-col>
            {{ attendance.activity }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Dia
          </ion-col>
          <ion-col>
            {{ attendance.appointment_date | date: 'dd/MM/yyyy' }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Horario:
          </ion-col>
          <ion-col>
            {{ attendance.appointment_start_time }} às {{ attendance.appointment_end_time }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Status:
          </ion-col>
          <ion-col>
            <div *ngIf="(attendance.attended);then showPresent else showNotPresent"></div>
            <ng-template #showPresent>
              <p>Presente</p>
            </ng-template>
            <ng-template #showNotPresent>
              <p>Ausente ou Reportado</p>
            </ng-template>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ng-template> -->

</ion-content>
