<!--
  Generated template for the PartnerDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <top-left-toolbar>
    <ion-title>Parceiro</ion-title>
  </top-left-toolbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item text-wrap>
      <ion-row>
        <ion-col col-3>
          <img src="{{partner.image.url}}" />
        </ion-col>
        <ion-col padding>
          <h3>{{partner.fantasy_name}}</h3>
          <p *ngIf="(role === 'master')">{{partner.name}}</p>
          <p *ngIf="(role === 'master')">{{partner.cnpj}}</p>
          <p *ngIf="(role === 'master')">{{partner.phone}}</p>
          <p *ngIf="(role === 'master')">{{partner.email}}</p>
          <p *ngIf="(role === 'master')">{{partner.informations}}</p>
        </ion-col>
      </ion-row>
    </ion-item>
    
    <ion-item *ngIf="!(role === 'usuario' || role === sindico || role === instrutor)">
      <button ion-button color="primary" clear small icon-start (click)="editPartner(partner)">
        <ion-icon name='thumbs-up'></ion-icon>
        EDITAR
      </button>
      <button ion-button color="primary" clear small icon-start (click)="removePartner(partner)">
        <ion-icon name='text'></ion-icon>
        REMOVER
      </button>
    </ion-item>
  </ion-list>
</ion-content>
