<ion-header>
  <top-left-toolbar>
    <ion-title>
      Grupos
    </ion-title>
  </top-left-toolbar>
</ion-header>

<ion-content class="card-group">
  <ion-card ngClass="card-group" *ngFor="let group of groups"  >
    <ion-card-content (click)="showDetails(group)">
      <ion-card-title >
          {{group.title}}
      </ion-card-title>
        <p>
          {{group.description}}
        </p>
        <!-- <p>
          {{group.group.name}}
        </p> -->
      </ion-card-content>

      <ion-row *ngIf="!(role === 'instrutor' || role === 'sindico' || role=== 'usuario')">
          <ion-col>
            <button ion-button color="primary" clear small icon-start (click)="editExercise(exercise)">
              <ion-icon name='thumbs-up'></ion-icon>
                EDITAR
            </button>
          </ion-col>

          <ion-col *ngIf="!(role === 'instrutor' || role === 'sindico' || role=== 'usuario')">
            <button ion-button color="primary" clear small icon-start (click)="removeExercise(exercise)">
              <ion-icon name='text'></ion-icon>
                REMOVER
            </button>
          </ion-col>
      </ion-row>

    </ion-card>

    <button ion-button *ngIf="!(role === 'instrutor' || role === 'sindico' || role === 'usuario')" (click)="selectGroupToAdd()">
      ADICIONAR GRUPO
    </button>


</ion-content>
