// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Quicksand'
}

ion-tabs .tabbar .tab-button[aria-selected="true"] {
  box-shadow: inset 0 -2px 0px 0 white;
}

ion-tabs .tabbar .tab-button[aria-selected="false"] {
  opacity: .5;
}

ion-icon.ion-ios-user {
  background-image: url(../assets/icon/user.png);
  background-size: contain;
  height: 25px;
  background-repeat: no-repeat;
}

ion-icon.ion-ios-lock-outline {
  background-image: url(../assets/icon/password.png);
  background-size: contain;
  height: 25px;
  background-repeat: no-repeat;
}

ion-icon.ion-ios-lock-outline:before {
  content: none;
}

ion-icon.ion-ios-mail-outline {
  background-image: url(../assets/icon/mail.png);
  background-size: contain;
  height: 25px;
  background-repeat: no-repeat;
}

ion-icon.ion-ios-mail-outline:before {
  content: none;
}

ion-icon.ion-md-contact, ion-icon.ion-ios-contact, ion-icon.ion-ios-contact-outline {
  background-image: url(../assets/icon/profile.png);
  background-size: contain;
  height: 25px;
  background-repeat: no-repeat;
}

.ion-md-contact:before, .ion-ios-contact:before, .ion-ios-contact-outline:before {
  content: none;
}

ion-icon.ion-md-home, ion-icon.ion-ios-home, ion-icon.ion-ios-home-outline {
  background-image: url(../assets/icon/home.png);
  background-size: contain;
  height: 25px;
  background-repeat: no-repeat;
}

.ion-md-home:before, .ion-ios-home:before, .ion-ios-home-outline:before {
  content: none;
}

ion-icon.ion-md-information-circle, ion-icon.ion-ios-information-circle, ion-icon.ion-ios-information-circle-outline {
  background-image: url(../assets/icon/activity.png);
  background-size: contain;
  height: 25px;
  background-repeat: no-repeat;
}

.ion-md-information-circle:before, .ion-ios-information-circle:before, .ion-ios-information-circle-outline:before {
  content: none;
}

ion-icon.ion-md-contacts, ion-icon.ion-ios-contacts, ion-icon.ion-ios-contacts-outline {
  background-image: url(../assets/icon/event.png);
  background-size: contain;
  height: 25px;
  background-repeat: no-repeat;
}

.ion-md-contacts:before, .ion-ios-contacts:before, .ion-ios-contacts-outline:before {
  content: none;
}

.tabs-md .tab-button-icon, .tabs-ios .tab-button-icon {
  color: white
}

.tabs-md .tab-button-text, .tabs-ios .tab-button-text {
  color: #A8C038;
  font-family: 'Quicksand Bold';
}

.tabs-md .tabbar, .tabs-ios .tabbar {
  background: #f6f6f8;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before, .footer-ios::before, .tabs-ios[tabsPlacement="bottom"] > .tabbar::before {
  height: 5px;
}

.toolbar-title-md, .toolbar-title-ios {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  height: 15px;
  width: 15px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  border: 2px solid white;
}

.swiper-pagination-bullet-active {
  background: #A8C038;
  opacity: 1;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  left: 0;
  bottom: 0px;
  width: 100%;
}

ion-title {
  padding: 0 !important;
}

ion-app.md [padding], ion-app.ios [padding] {
  padding: 25px;
}

ion-app.md [padding] .scroll-content, ion-app.ios [padding] .scroll-content {
  padding: 25px;
}

.card-activity {
  width: 100%;
  margin: 0;
  border-radius: 15px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.30);
  background: #282828;
}

@media only screen and (max-width: 320px) {
  .card-activity {
    /* width: 41%; */
    margin: 10px !important;
    border-radius: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.30);
    background: #282828;
  }
}

.card-event {

  ion-card {
    position: relative;
    text-align: center;
    border-radius: 10px;
    background: none;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    font-family: 'Quicksand Book'
  }

  @media only screen and (max-width: 320px) {
    .card-title {
      font-size: 1.7em;
    }
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
    font-family: 'Quicksand Book'
  }

}

.fab-container {
  position: relative;
}

.footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before, .footer-ios::before, .tabs-ios[tabsPlacement="bottom"] > .tabbar::before {
  display: none;
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  background-image: none;
}
