<!--
  Generated template for the PromotionDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <top-left-toolbar>
    <ion-title>Promoções</ion-title>
  </top-left-toolbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item text-wrap>
      <ion-row>
        <ion-col col-3>
          <img src="{{promotion.image.url}}" />
        </ion-col>
        <ion-col padding>
          <h3>{{promotion.title}}</h3>
          <p text-wrap>{{promotion.promotion_text}}</p>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <h3>Data de início</h3>
      <p>{{promotion.start_date | date: 'dd/MM/yyyy'}}</p>
    </ion-item>
    <ion-item>
      <h3>Data final</h3>
      <p>{{promotion.end_date | date: 'dd/MM/yyyy'}}</p>
    </ion-item>

    <ion-item *ngIf="!(role === 'usuario' || role === sindico || role === instrutor)">
      <button ion-button color="primary" clear small icon-start (click)="editPromotion(promotion)">
        <ion-icon name='thumbs-up'></ion-icon>
        EDITAR
      </button>
      <button ion-button color="primary" clear small icon-start (click)="removePromotion(promotion)">
        <ion-icon name='text'></ion-icon>
        REMOVER
      </button>
    </ion-item>
  </ion-list>
</ion-content>
