<!--
  Generated template for the PartnerAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <top-left-toolbar>
    <ion-title>Parceiros</ion-title>
  </top-left-toolbar>
</ion-header>


<ion-content padding>
  <form (submit)="addPartner()">
    <ion-item>
        <upload-form name="imageUrl">Upload</upload-form>
      </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Razão social</ion-label>
        <ion-input name="name" type="text" placeholder="" [(ngModel)]="data.name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Nome fantasia</ion-label>
        <ion-input name="fantasy_name" type="text" placeholder="" [(ngModel)]="data.fantasy_name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>CNPJ</ion-label>
        <ion-textarea name="cnpj"  type="text" placeholder="" [(ngModel)]="data.cnpj"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Telefone</ion-label>
      <ion-textarea name="phone"  type="text" placeholder="" [(ngModel)]="data.phone"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Email de contato</ion-label>
      <ion-textarea name="email"  type="text" placeholder="" [(ngModel)]="data.email"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Informações</ion-label>
      <ion-textarea name="informations"  type="text" placeholder="Coloque aqui informações adicionais como contatos." [(ngModel)]="data.informations"></ion-textarea>
    </ion-item>
    

    <ion-item>
        <button ion-button color="primary" type="submit">ADICIONAR PARCEIRO</button>
    </ion-item>
  </form>
</ion-content>
