page-welcome {
  ion-content.content {
    background: #f6f6f8;
  }

  .toolbar-background-md, .toolbar-background-ios {
    background: transparent;
  }

  .button-block-md, .button-block-ios, {
    margin-left: 0 !important;
    margin-right: 0 !important;
    bottom: 40px !important;
    position: absolute !important;
    margin: 0 !important;
    height: 50px !important;
    background-image: linear-gradient(to right bottom, #a8c038, #94bd40, #81b949, #6eb551, #5bb059);
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.3);
  }

  .header-md::after,
  .header-ios::after,
  .tabs-md[tabsPlacement="top"] > .tabbar::after,
  .tabs-ios[tabsPlacement="top"] > .tabbar::after,
  .footer-md::before,
  .footer-ios::before,
  .tabs-ios[tabsPlacement="bottom"] > .tabbar::before {
    display: none;
  }

  .logo {
    position: relative;
    margin-right: 75px;
    margin-left: 75px;
  }

  ion-slides {
    z-index: 10;
    height: 100vh;
  }

  img {
    width: 100% !important;
    margin-top: 70px;
  }

  h2 {
    color: #A8C038;
    font-family: 'Quicksand';
    font-size: 20px;
    font-weight: 600;
    margin-top: 100px;
  }

  p {
    margin: 0;
    font-family: 'Quicksand';
    color: gray;
  }

  .toolbar-ios {
    padding: 4px;
    min-height: 56px;
  }

  .toolbar-background-ios {
    border-color: #b2b2b2;
    background: #282828;
    border-style: none !important;
  }

  .bar-button-ios {
    margin: 0 0.2rem;
    padding: 0 5px;
    border-radius: 2px;
    height: 32px;
    border: 0;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  .bar-buttons-ios {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .button-ios {
    border-radius: 2px;
    overflow: hidden;
    height: 3.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background-color: #488aff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0.4rem 0.2rem;
    padding: 0 1.1em;
  }

  .item-slide {
    width: 75%;
  }

  .slide-zoom {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .button-skp {
    position: absolute;
    bottom: 0px;
    left: 0;
    background: transparent;
    box-shadow: none;
    color: #A8C038;
    z-index: 1;
  }

  .button-go {
    position: absolute;
    bottom: 0px;
    right: 0;
    background: transparent;
    box-shadow: none;
    color: #A8C038;
  }

  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 13px;
  }
}
