<ion-content>

  <ion-slides pager>

    <ion-slide style="background-color: transparent">
      <div class="item-slide">
        <img src="assets/imgs/slide-1.png">
        <h2>MS App</h2>
        <p>Seja bem vindo a primeira versão do aplicativo Mano Santana!
          <p>
      </div>
    </ion-slide>

    <ion-slide style="background-color: transparent">
      <div class="item-slide">
        <img src="assets/imgs/slide-1.png">
        <h2>MS App</h2>
        <p>Saiba aqui sobre nossos programas e eventos!</p>
      </div>
    </ion-slide>

    <ion-slide style="background-color: transparent">
      <div class="item-slide">
        <img src="assets/imgs/slide-1.png">
        <h2>MS App</h2>
        <p>Agora, você já pode testar, usar e se informar!</p>
      </div>
      <button ion-button class="button-go" style="right: 0" (click)="login()">
        Começar
      </button>
    </ion-slide>

  </ion-slides>

  <button ion-button class="button-skp" (click)="login()">
    Pular
  </button>

</ion-content>
