<!--
  Generated template for the ActivityUpdatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <top-left-toolbar>
      <ion-title>Atividades</ion-title>
  </top-left-toolbar>
</ion-header>


<ion-content padding>
  <form (submit)="updateActivity()">
    <ion-label color="primary" stacked>Imagem</ion-label>
    <ion-card ngClass="card-activity">
      <ion-card-content>
        <img src="{{activity.image.url}}" />
      </ion-card-content>
    </ion-card>

    <ion-item>
      <upload-form name="imageUrl">Upload</upload-form>
    </ion-item>

    <ion-item>
        <ion-label color="primary" stacked>Nome da atividade</ion-label>
        <ion-input name="title" type="text" placeholder="{{activity.title}}" [(ngModel)]="data.title"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Descrição</ion-label>
        <ion-input name="description" type="text" placeholder="{{activity.description}}" [(ngModel)]="data.description"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Texto</ion-label>
        <ion-textarea name="activity_text" type="text" placeholder="{{activity.activity_text}}" [(ngModel)]="data.activity_text"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Informações</ion-label>
      <ion-input name="description" type="text" placeholder="{{activity.informations}}" [(ngModel)]="data.informations"></ion-input>
  </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Data de inicio</ion-label>
        <ion-datetime name="start_date" displayFormat="DD/MM/YYYY" min="{{today}}" max="2030-12-31" [(ngModel)]="activity.start_date" [(ngModel)]="data.start_date"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Data final</ion-label>
        <ion-datetime name="end_date" displayFormat="DD/MM/YYYY" min="{{today}}" max="2030-12-31" [(ngModel)]="activity.end_date" [(ngModel)]="data.end_date"></ion-datetime>
    </ion-item>
    <ion-item>
        <button ion-button color="primary" type="submit">Atualizar</button>
    </ion-item>
  </form>
</ion-content>
