<ion-header>
  <top-left-toolbar>
    <ion-title>Condomínios</ion-title>
  </top-left-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="updateCondo()">
      <ion-label color="primary" stacked>Imagem</ion-label>
      <ion-card ngClass="card-activity">
        <ion-card-content>
          <img src="{{condo.image.url}}"/>
        </ion-card-content>
      </ion-card>

      <ion-item>
        <upload-form name="imageUrl">Upload</upload-form>
      </ion-item>

      <ion-item>
          <ion-label color="primary" stacked>Nome do condomínio</ion-label>
          <ion-input name="name" type="text" placeholder="{{condo.name}}" [(ngModel)]="data.name"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label color="primary" stacked>Sobre o condomínio</ion-label>
          <ion-input name="condo_info" type="text" placeholder="{{condo.condo_info}}" [(ngModel)]="data.condo_info"></ion-input>
        </ion-item>    
        
        <ion-item>
          <button ion-button color="primary" type="submit">ATUALIZAR CONDOMINIO</button>
        </ion-item>
      </form>
</ion-content>
