<!--
  Generated template for the InstructorUserAttendancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <top-left-toolbar>
    <ion-title>PRESENÇAS</ion-title>
  </top-left-toolbar>

</ion-header>


<ion-content >
  <h2> Lista de Presença.</h2>
  <ion-list >
    <ion-item *ngFor="let user of users;let i = index">
      <ion-row>
        <ion-col>
          <ion-avatar item-start >
            <img src="{{user.imageUrl}}">
          </ion-avatar>
        </ion-col>
        <ion-col>
            <h2>{{user.name}}</h2>
            <h3>{{user.email}}</h3>
        </ion-col>
        <ion-col>
            <button ion-button color="primary" (click)="showConfirm(user.email, i)">Presente</button>
        </ion-col>
      </ion-row>
  </ion-item>





  </ion-list>
</ion-content>
