<!--
  Generated template for the ChangeRolePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <top-left-toolbar>
    <ion-title>
      Acesso
    </ion-title>
  </top-left-toolbar>
</ion-header>


<ion-content >
  <ion-list >
    <ion-item *ngFor="let user of users" (click)="alterRole(user)">
      <ion-row>
        <ion-col col-2>
          <ion-avatar item-start>
            <img src="{{user.image.url}}">
          </ion-avatar>
        </ion-col>
        <ion-col col-8>
          <h2>{{user.name}}</h2>
          <h3>{{user.email}}</h3>

        </ion-col>
        <ion-col col-2>
          <h2>Perfil</h2>
          <h3> {{user.role.name}}</h3>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
