page-change-role {

  ion-content.content {
    background: #f1f1f1;
  }

  .back-button {
    z-index: 1;
  }

  .title-md {
    margin-left: -44px;
    font-family: 'Quicksand Book Oblique';
  }

  .item-md {
    background: #f7f9fc;
    border-radius: 20px;
    margin: 8px 0;
  }

  h2 {
    font-weight: 600 !important;
  }

  .scroll-content {
    padding: 5px !important;
  }
}
