<ion-header>
  <top-left-toolbar>
      <ion-title>Promoções</ion-title>
  </top-left-toolbar>
</ion-header>

<ion-content>

    <ion-col *ngIf="(role === 'master')">
        <ion-buttons class="add" start>
          <button ion-button icon-only color="green" (click)="create()">
            <ion-icon name="add-circle"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>

  <ion-col col-6 *ngFor="let promotion of promotions">

    <ion-card ngClass="card-promotion">
      <ion-card-content (click)="showDetails(promotion)">
        <img src="{{promotion.image.url}}" />
        <ion-card-title>
          {{promotion.title}}
        </ion-card-title>
        <p>
          {{promotion.description}}
        </p>
        <p>
          Validade
        </p>
        <p>
          {{promotion.start_date | date: 'dd/MM/yyyy' }} até {{promotion.end_date | date: 'dd/MM/yyyy' }}
        </p>
      </ion-card-content>

      <ion-row class="btn" >
        <ion-col *ngIf="!(role === 'instrutor' || role === 'sindico' || role=== 'usuario')">
          <button ion-button color="primary" clear small icon-start (click)="editPromotion(promotion)">
            <ion-icon name='create'></ion-icon>
            EDITAR
          </button>
        </ion-col>

        <ion-col *ngIf="!(role === 'instrutor' || role === 'sindico' || role=== 'usuario')">
          <button ion-button color="primary" clear small icon-start (click)="removePromotion(promotion)">
            <ion-icon name='trash'></ion-icon>
            REMOVER
          </button>
        </ion-col>
      </ion-row>
    </ion-card>

  </ion-col>

</ion-content>
