page-health-tip-detail {
  ion-content.content {
    background: #f1f1f1;
  }

  .title-md {
    margin-left: -44px;
    font-family: 'Quicksand Book Oblique';
  }

  .back-button {
    z-index: 1;
  }

  h2 {
    font-weight: 700 !important;
    font-family: 'Quicksand';
    font-size: 18px !important;
  }

  ion-label {
    white-space: normal;
  }
}
