<!--
  Generated template for the HealthTipDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <top-left-toolbar>
    <ion-title>Dicas</ion-title>
  </top-left-toolbar>

</ion-header>


<ion-content>

  <ion-list>

    <img src="{{healthTip.image.url}}" />
    <div padding>
      <h2>{{healthTip.title}}</h2>
      <p>{{healthTip.health_tip_text}}</p>
    </div>

    <ion-item *ngIf="!(role === 'usuario' || role === sindico || role === instrutor)">
      <button ion-button color="primary" clear small icon-start (click)="editActivity(healthTip)">
        <ion-icon name='thumbs-up'></ion-icon>
        Editar
      </button>
      <button ion-button color="primary" clear small icon-start (click)="removeActivity(healthTip)">
        <ion-icon name='text'></ion-icon>
        Remover
      </button>
    </ion-item>
  </ion-list>

</ion-content>
