<ion-content padding>

  <ion-grid class="titulo">
    <ion-row>
      <ion-col>
        <h1>Registrar-se</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>

    <ion-item>
      <ion-label stacked>Nome e sobrenome</ion-label>
      <ion-input type="text" value="" [(ngModel)]="userData.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Endereço de email</ion-label>
      <ion-input type="text" [(ngModel)]="userData.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="userData.password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Confirmar senha</ion-label>
      <ion-input type="password" [(ngModel)]="userData.confPassword"></ion-input>
    </ion-item>

  </ion-list>

  <button ion-button block color="light" outline (click)="signUp()">Registrar-se</button>


  <div class="footer">
    <div>
      <p>Já possui conta?
        <a (click)="login()">
          <span>ENTRAR</span>
        </a>
      </p>
    </div>
  </div>

</ion-content>
