<ion-header>

  <top-left-toolbar>
    <ion-title>Exercícios</ion-title>
  </top-left-toolbar>

</ion-header>


<ion-content>
  <form (ngSubmit)="addExercise()">

    <ion-item>
        <ion-label color="primary" stacked>Nome do exercício</ion-label>
        <ion-input name="name" type="text" placeholder=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Grupo</ion-label>
      <ion-select ([ngModel])="groups" cancelText="Cancelar" okText="Continuar">
        <ion-option *ngFor="let group of groupss" [value]="group">{{group.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Publicar?</ion-label>
      <ion-checkbox [(ngModel)]="isActive"></ion-checkbox>
    </ion-item>

    <ion-item>
        <button ion-button color="primary" type="submit">ADICIONAR EXERCÍCIO</button>
    </ion-item>
  </form>
</ion-content>
