<ion-header>
  <top-left-toolbar>
    <ion-title>
      Exercícios
    </ion-title>
  </top-left-toolbar>
</ion-header>

<ion-content class="card-exercise">

      <ion-card ngClass="card-exercise" *ngFor="let exercise of exercises"  >
        <ion-card-content (click)="showDetails(exercise)">
          <ion-card-title >
            {{exercise.title}}
          </ion-card-title>
          <p>
            {{exercise.description}}
          </p>
          <!-- <p>
            {{exercise.group.name}}
          </p> -->
        </ion-card-content>

        <ion-row *ngIf="!(role === 'instrutor' || role === 'sindico' || role=== 'usuario')">
            <ion-col>
              <button ion-button color="primary" clear small icon-start (click)="editExercise(exercise)">
                <ion-icon name='thumbs-up'></ion-icon>
                  EDITAR
              </button>
            </ion-col>

            <ion-col *ngIf="!(role === 'instrutor' || role === 'sindico' || role=== 'usuario')">
              <button ion-button color="primary" clear small icon-start (click)="removeExercise(exercise)">
                <ion-icon name='text'></ion-icon>
                  REMOVER
              </button>
            </ion-col>
        </ion-row>

      </ion-card>


      <button ion-button *ngIf="!(role === 'instrutor' || role === 'sindico' || role === 'usuario')" (click)="selectExerciseToAdd()">
        ADICIONAR EXERCÍCIO
      </button>


</ion-content>
