<ion-list>
    <ion-list-header>Mano Santana</ion-list-header>
    <button ion-item (click)="start()">Início</button>
    <button ion-item (click)="partners()">Parceiros</button>
    <button ion-item (click)="promotions()">Promoções</button>
    <button ion-item (click)="programs()">Programas</button>
    <div [ngSwitch]="role">
      <div *ngSwitchCase="'master'">
        <ion-list-header>Paginas</ion-list-header>
        <ion-list>
          <button ion-item (click)="instructorAgenda()">Agendas</button>
          <button ion-item (click)="condos()">Condomínios</button>
        </ion-list>
        <ion-list-header>Gerencial</ion-list-header>
        <ion-list>
          <button ion-item (click)="reports()">Relatórios</button>
          <button ion-item (click)="authorize()" >Autorizar usuário</button>
          <button ion-item (click)="changeRole()">Modificar acesso</button>
          <button ion-item (click)="addInstructorAgenda()">Criar agenda do instrutor</button>
          <button ion-item (click)="sendNotification()">Enviar notificação</button>
        </ion-list>
      </div>
      <div *ngSwitchCase="'instrutor'">
        <ion-list-header>Gerencial</ion-list-header>
          <ion-list>
            <button ion-item (click)="switchCondo()">Mudar condomínio</button>
            <button ion-item (click)="instructorAgenda()">Agenda</button>
            <button ion-item (click)="reports()" [disabled]="!isEnabled">Relatórios</button>
            
          </ion-list>
      </div>
      <div *ngSwitchCase="'sindico'">
        <ion-list-header>Gerencial</ion-list-header>
        <ion-list>
          <button ion-item (click)="reports()">Relatórios</button>
          <button ion-item (click)="authorize()">Autorizar</button>
        </ion-list>
      </div>
    </div>
    <button ion-item (click)="logout()">Sair</button>
  </ion-list>
