<!--
  Generated template for the InstructorAgendaAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <top-left-toolbar>
    <ion-title>Agenda</ion-title>
  </top-left-toolbar>

</ion-header>



<ion-content >
  <form (submit)="addInstructorAgenda()">
    <ion-item >
      <ion-label color="primary" stacked>Instrutor</ion-label>
      <ion-select name="instructors" ([ngModel])="instructors" (ionChange)="onSelectChangeInstructors($event)" cancelText="Cancelar" okText="Continuar">
        <ion-option *ngFor="let instructor of instructors" [value]="instructor.email">{{instructor.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Relacionado a um condomínio?</ion-label>
      <ion-checkbox name="hasCondo" [(ngModel)]="hasCondo"></ion-checkbox>
    </ion-item>

    <div *ngIf="!(hasCondo);then showEvent else showCondo"></div>

    <ng-template #showEvent>
      <ion-item >
        <ion-label color="primary" stacked>Eventos comuns a todos</ion-label>
        <ion-select name="commonEvents" ([ngModel])="commonEvents" (ionChange)="onSelectChangeCommonEvents($event)" cancelText="Cancelar" okText="Continuar">
          <ion-option *ngFor="let event of commonEvents" [value]="event">{{event.title}}</ion-option>
        </ion-select>
      </ion-item>
    </ng-template>

    <ng-template #showCondo>
      <ion-item >
        <ion-label color="primary" stacked>Condomínio</ion-label>
        <ion-select name="condos" ([ngModel])="condos" (ionChange)="onSelectChangeCondos($event)" cancelText="Cancelar" okText="Continuar">
          <ion-option *ngFor="let condo of condos" [value]="condo.name">{{condo.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item >
        <ion-label color="primary" stacked>Tipo (Atividades, Eventos e Programas do condomínio)</ion-label>
        <ion-select name="selectType" ([ngModel])="selectedTypes" (ionChange)="onSelectChangeSelectedTypes($event)" cancelText="Cancelar" okText="Continuar">
          <ion-option *ngFor="let type of selectedTypes" [value]="type">{{type}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item >
        <ion-label color="primary" stacked>{{selectedTypes}}</ion-label>
        <ion-select name="selectedType" ([ngModel])="types" (ionChange)="onSelectChangeTypes($event)" cancelText="Cancelar" okText="Continuar">
          <ion-option *ngFor="let type of types" [value]="type">
            <ion-item >
              <ion-row>
                <ion-col>
                  <ion-avatar item-start >
                    <img src="{{type.image.url}}">
                  </ion-avatar>
                </ion-col>
                <ion-col>
                    <h2>{{type.title}}</h2>
                    <h3>{{type.description}}</h3>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-option>
        </ion-select>
      </ion-item>
    </ng-template>




    <ion-item >
      <ion-label text-wrap color="primary" stacked>Dia(s) da semana (*Selecione mais de um apenas se os horários forem os mesmos)</ion-label>
      <ion-select name="days" multiple="true" ([ngModel])="daysOfWeek" (ionChange)="onSelectChangeDays($event)" cancelText="Cancelar" okText="Continuar">
        <ion-option *ngFor="let day of daysOfWeek" [value]="day">{{day}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Data de inicio</ion-label>
      <ion-datetime name="start_date" displayFormat="DD/MM/YYYY" min="{{today}}" max="2030-12-31" [(ngModel)]="start_date"></ion-datetime>
  </ion-item>
  <ion-item>
      <ion-label color="primary" stacked>Data final</ion-label>
      <ion-datetime name="end_date"  displayFormat="DD/MM/YYYY" min="{{today}}" max="2030-12-31" [(ngModel)]="end_date"></ion-datetime>
  </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Horario de inicio</ion-label>
      <ion-datetime name="start_time" displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="start_time"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Horario de término</ion-label>
      <ion-datetime name="end_time" displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="end_time"></ion-datetime>
    </ion-item>

    <ion-item>
        <button ion-button color="primary" type="submit">ADICIONAR AGENDA</button>
    </ion-item>
  </form>

</ion-content>
