<ion-header>
  <top-left-toolbar>
    <ion-title>Atividades</ion-title>
    </top-left-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item text-wrap>
      <ion-row>
        <ion-col col-3>
          <img src="{{activity.image.url}}" />
        </ion-col>
        <ion-col padding>
          <h3>{{activity.title}}</h3>
          <p>{{activity.activity_text}}</p>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item text-wrap>
      <h3>Mais informações</h3>
      <p>{{activity.informations}}</p>
    </ion-item>
    <ion-item>
      <h3>Data de início</h3>
      <p>{{activity.start_date | date: 'dd/MM/yyyy'}}</p>
    </ion-item>
    <ion-item>
      <h3>Data final</h3>
      <p>{{activity.end_date | date: 'dd/MM/yyyy'}}</p>
    </ion-item>

    <ion-item *ngIf="!(role === 'usuario' || role === sindico || role === instrutor)">
      <button ion-button color="primary" clear small icon-start (click)="editActivity(activity)">
        <ion-icon name='thumbs-up'></ion-icon>
        Editar
      </button>
      <button ion-button color="primary" clear small icon-start (click)="removeActivity(activity)">
        <ion-icon name='text'></ion-icon>
        Remover
      </button>
    </ion-item>
  </ion-list>
</ion-content>
