<!--
  Generated template for the CondoAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <top-left-toolbar>
    <ion-title>Condomínios</ion-title>
  </top-left-toolbar>
</ion-header>


<ion-content padding>
  <form (ngSubmit)="addCondo()">
    <ion-item>
      <upload-form name="imageUrl">Upload</upload-form>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Nome do condomínio</ion-label>
      <ion-input name="name" type="text" placeholder="" [(ngModel)]="data.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Sobre o condomínio</ion-label>
      <ion-input name="condo_info" type="text" placeholder="" [(ngModel)]="data.condo_info"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Logradouro</ion-label>
      <ion-input name="street" type="text" placeholder="" [(ngModel)]="data.street"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Número</ion-label>
      <ion-input name="number" type="number" placeholder="" [(ngModel)]="data.number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>CEP</ion-label>
      <ion-input name="postal_code" type="text" placeholder="" [(ngModel)]="data.postal_code"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Complemento</ion-label>
      <ion-input name="complement" type="text" placeholder="" [(ngModel)]="data.complement"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Estado</ion-label>
      <ion-select ([ngModel])="selectedState" (ionChange)="onSelectChangeState($event)" cancelText="Cancelar" okText="Continuar">
        <ion-option *ngFor="let state of states" [value]="state">{{state.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item [hidden]="!stateSelected">
      <ion-label color="primary" stacked>Cidade</ion-label>
      <ion-select ([ngModel])="selectedCity" (ionChange)="onSelectChangeCity($event)" cancelText="Cancelar" okText="Continuar">
        <ion-option *ngFor="let city of cities" [value]="city">{{city.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <button ion-button color="primary" type="submit">ADICIONAR CONDOMINIO</button>
    </ion-item>
  </form>
</ion-content>
