<!--
  Generated template for the ReportsDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <top-left-toolbar>
    <ion-title>Relatórios</ion-title>
  </top-left-toolbar>

</ion-header>


<ion-content >
    <ion-list>
        <ion-item *ngFor="let attendance of attendances">
          <ion-row>
            <ion-col>
              Condomínio
            </ion-col>
            <ion-col>
              {{ attendance.condo }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Instrutor
            </ion-col>
            <ion-col>
              {{ attendance.instructor }}
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col>
              Atividade
            </ion-col>
            <ion-col>
              {{ attendance.activity }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Dia
            </ion-col>
            <ion-col>
              {{ attendance.appointment_date | date: 'dd/MM/yyyy' }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Horario:
            </ion-col>
            <ion-col>
              {{ attendance.appointment_start_time }} às {{ attendance.appointment_end_time }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Status:
            </ion-col>
            <ion-col>
              <div *ngIf="(attendance.attended);then showPresent else showNotPresent"></div>
              <ng-template #showPresent>
                <p>Presente</p>
              </ng-template>
              <ng-template #showNotPresent>
                <p>Ausente ou Reportado</p>
              </ng-template>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
</ion-content>
